
      
      <div class="col-3">
        <h1 class="display-4 text-center">Best in the World, Bobby Firmino</h1>
        <p class="lead text-white pl-4 pt-4">
          There's something that the Kop wants you to know,
          <br>
          <br>
          The best in the world his name is Bobby Firmino.
          <br>
          <br>
          Our number nine,
          Give the ball to him and he'll score everytime.
          <br>
          <br>
          Sim señhor,
          Give the ball to Bobby and he will score.
        </p>
      </div>
      <hr class="my-4">
      <div class="col-6 pt-3">
        <div class="row align-self-center justify-content-center no-gutters" id="hb-div">
          <div class="col-6 pt-3">
        <div class="row align-self-center justify-content-center no-gutters">
          <img src='../images/bobbysmile.gif'> 
        </div>
      </div>
         
        </div>
      </div>
      
      <div class="col-3">
        <div class="row no-gutters">
          <div class="col-auto justify-content-center">
        <div class="list-group bg-transparent">
          <a href="/liverpool" class="list-group-item list-group-item-action bg-transparent border-0 text-warning font-weight-bold no-gutters text-center">Liverpool</a>
          <a href="/tottenham" class="list-group-item list-group-item-action bg-transparent border-0 text-warning font-weight-bold text-center">Tottenham</a>
          <a href="/southampton" class="list-group-item list-group-item-action bg-transparent border-0 text-warning font-weight-bold text-center">Southampton</a>
          <a href="/leicester" class="list-group-item list-group-item-action bg-transparent border-0 text-warning font-weight-bold text-center">Leicester City</a>
          <a href="/everton" class="list-group-item list-group-item-action bg-transparent border-0 text-warning font-weight-bold text-center">Everton</a>
          <a href="/manunited" class="list-group-item list-group-item-action bg-transparent border-0 text-warning font-weight-bold text-center">Manchester United</a>
          <a href="/chelsea" class="list-group-item list-group-item-action bg-transparent border-0 text-warning font-weight-bold text-center">Chelsea</a>
          <a href="/westham" class="list-group-item list-group-item-action bg-transparent border-0 text-warning font-weight-bold text-center">West Ham</a>
          <a href="/mancity" class="list-group-item list-group-item-action bg-transparent border-0 text-warning font-weight-bold text-center">Manchester City</a>
          <a href="/wolves" class="list-group-item list-group-item-action bg-transparent border-0 text-warning font-weight-bold text-center">Wolves</a>
        </div>
      </div>
      <div class="col-auto">
        <div class="list-group bg-transparent">
          <a href="/astonvilla" class="list-group-item list-group-item-action bg-transparent border-0 text-warning font-weight-bold text-center">Aston Villa</a>
          <a href="/crystalpalace" class="list-group-item list-group-item-action bg-transparent border-0 text-warning font-weight-bold text-center">Crystal Palace</a>
          <a href="/leeds" class="list-group-item list-group-item-action bg-transparent border-0 text-warning font-weight-bold text-center">Leeds United</a>
          <a href="/newcastle" class="list-group-item list-group-item-action bg-transparent border-0 text-warning font-weight-bold text-center">Newcastle</a>
          <a href="/arsenal" class="list-group-item list-group-item-action bg-transparent border-0 text-warning font-weight-bold text-center">Arsenal</a>
          <a href="/brighton" class="list-group-item list-group-item-action bg-transparent border-0 text-warning font-weight-bold text-center">Brighton</a>
          <a href="/burnley" class="list-group-item list-group-item-action bg-transparent border-0 text-warning font-weight-bold text-center">Burnley</a>
          <a href="/norwich" class="list-group-item list-group-item-action bg-transparent border-0 text-warning font-weight-bold text-center">Norwich City</a>
          <a href="/watford" class="list-group-item list-group-item-action bg-transparent border-0 text-warning font-weight-bold text-center">Watford</a>
          <a href="/" class="list-group-item list-group-item-action bg-transparent border-0 text-warning font-weight-bold text-center">TBD</a>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="list-group bg-transparent">
          <a href="/europe" class="list-group-item list-group-item-action bg-transparent border-0 text-warning font-weight-bold text-center">Champions League</a>
        </div>
      </div>
      </div>

      
