<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <title>Bobby Firmino</title>
</head>
<body class="bg-dark">
  <div class="jumbotron bg-danger align-middle">
    <h1 class="display-4">Best in the World, Bobby Firmino</h1>
    <div class= "row">
      <div class="col-3">
    <p class="lead text-white">There's something that the Kop wants you to know,
      The best in the world his name is Bobby Firmino.
      Our number nine,
      Give the ball to him and he'll score everytime.
      Sim señhor,
      Give the ball to Bobby and he will score.</p>
    </div>
    <hr class="my-4">
    <div class="col-6">
    <img src="bobbysmile.gif">
  </div>
  <div class="col-3"></div>
  </div>
  </div>
  
</body>
</html>