<div class="container-fluid">
  <div class="col">
    <div class="row">
      <h2>Welcome, {{{user.name}}}!</h2>

    </div>
  </div>
  <div class="col">
    <div class="row">
      <h3>Submit a New Gif:</h3>
    </div>
    <div class="row mt-4">

      <div class="col-md-6">

        <form class="form new-gif-form"
          action="/profile" method="POST" enctype="multipart/form-data" id="new-gif-form">
          <div class="form-group">
              <div class="row form-group">
                
                  <label class="input-group-text" for="team">Opponent</label>
                
                  <select class="custom-select" id="team">
                  <option selected></option>
                  <option value="tottenham">Tottenham</option>
                  <option value="southampton">Southampton</option>
                  <option value="leicester">LeicesterCity</option>
                  <option value="everton">Everton</option>
                  <option value="manunited">Manchester United</option>
                  <option value="chelsea">Chelsea</option>
                  <option value="westham">West Ham</option>
                  <option value="mancity">Manchester City</option>
                  <option value="wolves">Wolverhampton</option>
                  <option value="astonvilla">Aston Villa</option>
                  <option value="crystalpalace">Crystal Palace</option>
                  <option value="leeds">Leeds United</option>
                  <option value="newcastle">Newcastle</option>
                  <option value="arsenal">Arsenal</option>
                  <option value="brighton">Brighton</option>
                  <option value="burnley">Burnley</option>
                  <option value="norwich">Norwich City</option>
                  <option value="watford">Watford</option>
                  <option value="brentford">Brentford</option>
               </select> 
              </div>
          
            <div class="row form-group">
              <div class="form-check pt-3 px-0">
                <label
                  class="form-check-label mr-3 font-weight-bold"
                  for="nutmegRadio"
                >
                  Is it a Nutmeg?
                </label>
                <input
                  class="form-check-input ml-3"
                  type="radio"
                  name="nutmegRadio"
                  id="nutmegRadio"
                  value="nutmeg"
                />
              </div>
            </div>
              <div class="row form-group">
              <div class="form-check pt-3 px-0">
                <label
                  class="form-check-label mr-3 font-weight-bold"
                  for="goalRadio"
                >
                  Is it a Goal?
                </label>
                <input
                  class="form-check-input ml-3"
                  type="radio"
                  name="goalRadio"
                  id="goalRadio"
                  value="goal"
                />
              </div>
            </div>
              <div class="row form-group">
              <div class="form-check pt-3 px-0">
                <label
                  class="form-check-label mr-3 font-weight-bold"
                  for="celebrationRadio"
                >
                  Is Bobby celebrating?
                </label>
                <input
                  class="form-check-input ml-3"
                  type="radio"
                  name="celebrationRadio"
                  id="celebrationRadio"
                  value="celebration"
                />
              </div>
            </div>
                  {{!-- <div class="custom-file">
                  <input type="file" name="gifFile" class="custom-file-input" id="gifFile">
                  <label class="custom-file-label" for="gifFile" aria-describedby="inputFileAddon"></label>
                  
                </div> --}}
            <button type="submit" class="btn btn-warning mt-3">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  <div class="col"></div>
</div>
<script src="./js/profile.js"></script>